<?xml version="1.0" ?>
<config>
    <modules>
        <Fram_Childsearch>
            <version>0.1.0</version>
        </Fram_Childsearch>
    </modules>
    <global>
        <models>
            <childsearch>
                <class>Fram_Childsearch_Model</class>
                <resourceModel>fram_childsearch_resource</resourceModel>
            </childsearch>
        </models>
        <resources>
            <childsearch_setup>
                <setup>
                    <module>Fram_Childsearch</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </childsearch_setup>
        </resources>
        <blocks>
            <childsearch>
                <class>Fram_Childsearch_Block</class>
            </childsearch>
        </blocks>
        <helpers>
            <childsearch>
                <class>Fram_Childsearch_Helper</class>
            </childsearch>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <childsearch>
                        <type>model</type>
                        <class>Fram_Childsearch_Model_Observer</class>
                        <method>updateChildSkuAfterSave</method>
                    </childsearch>
                </observers>
            </catalog_product_save_after>
            <admin_system_config_changed_section_fram_childsearch>
                <observers>
                    <childsearch>
                        <type>model</type>
                        <class>Fram_Childsearch_Model_Observer</class>
                        <method>changeConfiguration</method>
                    </childsearch>
                </observers>
            </admin_system_config_changed_section_fram_childsearch>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <childsearch after="Mage_Adminhtml">Fram_Childsearch</childsearch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <fram_childsearch>
            <config>
                <instruction>Apply or  Remove Search Associate Data process probably take long time if your store have many products .We recommended that : Choose Specific Website Scope  before run apply data.</instruction>
            </config>
        </fram_childsearch>
    </default>
</config>